/*reset*/
html,
body,
p,
h1,
h2,
h3,
h4,
h5,
h6,
form,
input,
textarea,
select,
button,
fieldset,
legend,
img,
ul,
ol,
li,
dl,
dt,
dd,
th,
td,
pre,
blockquote {
  margin: 0;
  padding: 0;
}
html {
  /* height: 100%; */
  /* -webkit-text-size-adjust: 100%; */
  /* -ms-text-size-adjust: 100%; */
  /* -webkit-font-smoothing: antialiased; */
}
body {
  background-color: #fafafa;
  color: #666;
  /* min-height: 100%; */
  /* height: auto !important; */
  /* height: 100%; */
}
body,
button,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 12px/1 '宋体', 'Microsoft Yahei', arial, simhei;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img,
fieldset {
  border: 0;
  vertical-align: middle;
}
a {
  text-decoration: none;
}
a:visited {
}
a:hover {
  text-decoration: underline;
}
a:active {
}
ul,
li,
ol {
  list-style: none;
}
strong,
b {
  font-weight: normal;
}
em,
i {
  font-style: normal;
}
iframe {
  display: block;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px 18px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
s {
  text-decoration: none;
}
/*public*/
.fl {
  display: inline;
  float: left;
}
.fr {
  display: inline;
  float: right;
}
.btn {
  cursor: pointer;
}
.btn:hover {
  text-decoration: none !important;
}
/*main*/
#Fixed {
  position: fixed;
  _position: absolute;
  z-index: 100;
  bottom: 70px;
  right: 0;
  _bottom: auto;
  _top: expression(
    document.documentElement.scrollTop +
      document.documentElement.clientHeight-this.offsetHeight-70
  );
  border: 2px solid #eee;
  width: 63px;
  text-indent: -40000px;
  background: #fff;
}
#goCart,
#goChat,
#goTop,
#feedback {
  background-image: url('../images/toTop.png') !important;
}
#feedback {
  width: 63px;
  height: 59px;
  border-bottom: 2px solid #eeeeee;
  background-position: -1px -770px;
}
#feedback:hover {
  background-position: -1px -829px;
}
#goCart,
#goChat,
#goTop {
  position: relative;
  width: 63px;
  height: 59px;
  background: -1px -1px no-repeat;
  cursor: pointer;
}
#goChat {
  background-position: -1px -238px;
}
#goCart:hover {
  background-position: -1px -180px;
}
#goChat:hover {
  background-position: -1px -238px;
}
#goTop {
  display: none;
  width: 63px;
  height: 61px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  -moz-transition: opacity 0.3s ease-in, opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-in, opacity 0.3s ease-out;
  transition: opacity 0.3s ease-in, opacity 0.3s ease-out;
  background-color: #000 !important;
  background-position: -1px -119px !important;
  cursor: pointer;
}
#goTop:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  -moz-transition: opacity 0.3s ease-in, opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-in, opacity 0.3s ease-out;
  transition: opacity 0.3s ease-in, opacity 0.3s ease-out;
}
.footer {
  position: relative;
  border-top: 5px solid #f60;
  background: #605d5c;
}

.viewChange .cards li {
  width: 100%;
}
.viewChange .card {
  display: flex;
  justify-content: end;
  height: 50px;
  align-items: center;
  padding-top: 0;
  width: 100%;
}
.viewChange .cards img {
  height: 50px;
  width: auto;
  display: none;
}

.viewChange .card h3,
.viewChange .card p {
  flex: 1;
}

.viewChange .card a {
  position: inherit;
  width: 100px;
  display: inline-block;
  border: none;
  height: 48px;
}

.viewChange .card .titleCard {
  display: block;
}
